/* add css module styles here (optional) */

main {
  padding: 14px 12px;
}

header {
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: 1px solid #EAECEF;
  margin-bottom: 10px;
}

nav {
  margin-bottom: 18px;
}

nav button {
  background: transparent;
  border: none;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  white-space: nowrap;
  color: #76808F;
  font-size: 14px;
  margin: 0 4px;
}
nav button:first-child {
  width: 25px;
  margin-right: 8px;
}
nav button:last-child {
  margin-right: 0;
}
aside {
  margin-bottom: 4px;
}

input[type="text"] {
  margin-right: 8px;
  border: none;
  border-bottom: 1px solid #EAECEF;
}

/* input[type="radio"] {

} */

label {
  font-size: 12px;
}

section header {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 16px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #EAECEF;
  padding-top: 16px;
  padding-bottom: 16px;
  /* background-color: #FAFAFA; */
}

section header a {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  color: #76808F;
  text-align: left;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-decoration: none;
}

section ul {
  margin: 0;
  padding: 0;
}

section ul li div {
  width: 33%;
  display: inline-block;
}

section ul li div:last-child {
  text-align: right;
}

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.active {
  background-color: #F2F2F2;
  font-weight: bold;
  border: none;
  outline: none;
}